.Navbar {
    padding: 10px 20px; 
    background-color: rgba(0, 0, 0, 0.8); /* Faded black background */
    color: #fff; /* White text for contrast */
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    /* position: fixed;  */
    width: 100%; 
    z-index: 1000; 
}


.ButtonsContainer {
    display: flex; /* Using flexbox for the buttons */
    gap: 15px; /* Space between buttons */
}
